<div [formGroup]="formGroup" *ngIf="formGroup">
    <div class="d-flex">
        <input formControlName="control1" type="text" />
        <div *ngIf="errorMessages">
            <span *ngFor="let error of errorMessages.control1"></span>
        </div>
    </div>
    <div class="d-flex">
        <input formControlName="control2" type="text" />
        <div *ngIf="errorMessages">
            <span *ngFor="let error of errorMessages.control2"></span>
        </div>
    </div>
</div>

<button (click)="button()">Hello</button>
<button (click)="check()">Hello</button>