<div [formGroup]="formGroup" *ngIf="formGroup">
    <div class="d-flex my-2" *ngFor="let control of formGroup.controls | keyvalue">
        <input [formControlName]="control.key" type="text" />
        <button (click)="deleteControl(control.key)">X</button>
        <div class="d-flex w-100 justify-content-between">
            <span *ngFor="let error of formGroup.get(control.key).errors | keyvalue">{{error.key}}</span>
        </div>
    </div>
</div>

<button (click)="button()">Restart</button>
<button (click)="check()">Form</button>
<button (click)="addControl()">Add</button>