<div [formGroup]="formGroup" *ngIf="formGroup" class="w-100">
    <div class="d-flex my-2" *ngFor="let control of formGroup.controls | keyvalue">
        <input [formControlName]="control.key" type="text" />
        <button (click)="deleteControl(control.key)">X</button>
        <div class="d-flex w-100 justify-content-between">
            <div *ngFor="let error of formGroup.get(control.key).errors | keyvalue">
                <span>{{error.key}}</span>
                <span *ngIf="errorMessages">{{errorMessages[control.key][error.key]}}</span>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">

        <button class="my-2" (click)="restart()">Restart</button>
        <button class="my-2" (click)="check()">Form</button>
        <button class="my-2" (click)="addControl()">Add</button>
    </div>